/* You can add global styles to this file, and also import other style files */
@import "assets/css/style.css";
span.instructor, h5 {
  color: #17a2b8;
}

.btn-custom {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-custom:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.modal-dialog {
  border: 2px solid #17a2b8;
  border-radius: 5px;
}

.form-control:hover {
  border: 1px solid #17a2b8;
  border-radius: 5px;
}



