<div class="container">
  <div class="mb-3 mt-4">
    <h2 class="text-center">XEM THÔNG TIN HƯỚNG DẪN</h2>
  </div>
  <div class="row">
    <div class="col-8">

      <div class="row mb-3">
        <div class="col-1">
          <div class="row"><span class="text-center"
                                 style="background-color: #14a2b8; border: 1px solid darkgray; color: white">14/03</span>
          </div>
          <div class="row"><span class="text-center" style="color: darkgray; border: 1px solid darkgray">2023</span>
          </div>
        </div>
        <div class="col-10" style="margin-left: 10px">
          <div class="row">
            <a href=""><span style="color: black">Đăng ký các lớp tăng cường tiếng Anh bậc 3, bậc 4 theo Khung năng lực Ngoại ngữ 06 bậc dùng cho Việt Nam</span></a>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-1">
          <div class="row"><span class="text-center"
                                 style="background-color: #14a2b8; border: 1px solid darkgray; color: white">15/03</span>
          </div>
          <div class="row"><span class="text-center" style="color: darkgray; border: 1px solid darkgray">2023</span>
          </div>
        </div>
        <div class="col-10" style="margin-left: 10px">
          <div class="row">
            <a href=""><span style="color: black">Kỳ thi đánh giá năng lực đợt 1 do ĐHQG TP Hồ Chí Minh tổ chức tại Trường Đại học Kinh tế diễn ra nghiêm túc, hiệu quả và chất lượng</span></a>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-1">
          <div class="row"><span class="text-center"
                                 style="background-color: #14a2b8; border: 1px solid darkgray; color: white">19/03</span>
          </div>
          <div class="row"><span class="text-center" style="color: darkgray; border: 1px solid darkgray">2023</span>
          </div>
        </div>
        <div class="col-10" style="margin-left: 10px">
          <div class="row">
            <a href=""><span style="color: black">Thăm và tặng hoa chúc mừng Đoàn Thanh niên Trường Đại học Kinh tế nhân kỷ niệm 92 năm ngày thành lập Đoàn Thanh niên Cộng sản Hồ Chí Minh</span></a>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-1">
          <div class="row"><span class="text-center"
                                 style="background-color: #14a2b8; border: 1px solid darkgray; color: white">23/03</span>
          </div>
          <div class="row"><span class="text-center" style="color: darkgray; border: 1px solid darkgray">2023</span>
          </div>
        </div>
        <div class="col-10" style="margin-left: 10px">
          <div class="row">
            <a href=""><span style="color: black">Ký kết hợp tác với Đại học Lincoln, sinh viên DUE có thêm lựa chọn du học uy tín tại New Zealand</span></a>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-1">
          <div class="row"><span class="text-center"
                                 style="background-color: #14a2b8; border: 1px solid darkgray; color: white">21/03</span>
          </div>
          <div class="row"><span class="text-center" style="color: darkgray; border: 1px solid darkgray">2023</span>
          </div>
        </div>
        <div class="col-10" style="margin-left: 10px">
          <div class="row">
            <a href=""><span style="color: black">Cựu sinh viên Nguyễn Xuân Hoàng: “Vun đắp cho truyền thống vẻ vang và đóng góp vào sự phát triển chung của DUE”</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row mb-3">
        <div class="card fontSize">
          <img src="https://major.edu.vn/wp-content/uploads/2021/09/20200818-DSCF2564-Edit-768x512.jpg"
               class="card-img-top">
          <div class="card-body">

            <h5 class="card-title" style="text-align: center; color: #14a2b8">
              <a href="">Tìm hiểu công nghệ AI</a>
            </h5>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
