<!-- Navbar Start -->
<!--<div class="fixed-top">-->
<div class="container-fluid bg-light position-relative shadow">
  <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
    <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px">
      <i class="flaticon-043-teddy-bear"></i>
      <span class="text-primary">GraduationThesis</span>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav font-weight-bold mx-auto py-0">
        <a href="index.html" class="nav-item nav-link">Trang Chủ</a>
        <a href="" class="nav-item nav-link">Tin Tức</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Giáo Viên</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Đăng thông báo</a></li>
            <li><a class="dropdown-item" href="#">Danh sách đề tài</a></li>
            <li><a class="dropdown-item" href="#">Kiểm duyệt đề tài</a></li>
            <li><a class="dropdown-item" href="#">Danh sách sinh viên</a></li>
            <li><a class="dropdown-item" routerLink="/teachers/list">Danh sách giáo viên</a></li>
            <li><a class="dropdown-item" href="#">Quản lý tiến độ</a></li>
            <li><a class="dropdown-item" href="#">Thắc mắc của sinh viên</a></li>
            <li><a class="dropdown-item" href="#">Tài liệu hướng dẫn</a></li>
          </ul>
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Sinh Viên</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="students/register-instructor">Đăng ký GVHD</a></li>
            <li><a class="dropdown-item" href="#">Đăng ký Đề Tài</a></li>
            <li><a class="dropdown-item" href="#">Thông tin hướng dẫn</a></li>
            <li><a class="dropdown-item" href="#">Báo cáo tiến độ</a></li>
            <li><a class="dropdown-item" href="#">Tương tác</a></li>
          </ul>
        </div>
        <a href="" class="nav-item nav-link">Liên Hệ</a>
      </div>
      <!-- Avatar -->
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
               height="50" alt="Avatar" loading="lazy"/>
        </a>
        <ul class="dropdown-menu" style="padding: 0">
          <li>
            <a class="dropdown-item" href="#">
              <i class="fa fa-address-card"></i> Thông tin
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#"><img src="assets/setting.png" height="17" width="17"/>
              Cài đặt</a>
          </li>
          <li>
            <a class="dropdown-item" href="#"><img src="assets/logout.png" height="17" width="17"/>
              Đăng xuất</a>
          </li>
        </ul>
      </div>
      <!-- End Avatar -->
    </div>
  </nav>
</div>
<!--</div>-->
<!-- Navbar End -->
