<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row " style="background: #14a2b8;">
    <div class="row">
      <span class="text-center" style="color: white">Chi tiết tiến độ</span>
      <h5 class="text-center" style="color: white">Nhóm: {{progressDto?.teamName}}</h5>
      <h6 class="text-center" style="color: white"><i>Đề tài: {{progressDto?.projectName}}</i></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row">
        <h5 class="text-center  my-3">Các thành viên trong nhóm</h5>
        <div class="row row-cols-1 row-cols-md-4 "
             style="margin-left: 40px;margin-right: 30px">
          <div class="col" *ngFor="let progressStudentDto of progressStudentDtos">
            <div class="card cardSV">
              <img
                src="{{progressStudentDto.studentImg}}"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"
                    style="text-align: center; color: #14a2b8">{{progressStudentDto.studentName}}</h5>
                <div>
                  <span style="font-weight:bold;">Mã học sinh: </span>
                  <span>{{progressStudentDto.studentCode}}</span>
                </div>
                <div>
                  <span style="font-weight:bold">Lớp: </span>
                  <span>{{progressStudentDto.studentClassName}}</span>
                </div>
                <div>
                  <span style="font-weight: bold;">Email: </span>
                  <span>{{progressStudentDto.studentEmail}}</span>
                </div>
                <div>
                  <span style="font-weight:bold;">SĐT: </span>
                  <span>{{progressStudentDto.studentPhoneNumber}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <h5 style="text-decoration: underline">Tiến độ</h5>
      <div class="row mt-2" *ngFor="let progressDetail of progressDetails">
        <div class="col-md-2">
          <a routerLink="/progress/report/{{projectId}}/{{progressDetail.stage.stageId}}"><button [disabled]="!progressDetail.progressStatus" type="button" class="btn btn-outline-info"
                                                                                                  style="background: #14a2b8;"><span
            style="color: white">{{progressDetail.progressDetailName}}</span></button></a>
        </div>
        <div class="col-md-8">
          <span>{{progressDetail.stage.stageName}}: {{progressDetail.progressDateStart |date: "dd-MM-yyyy"}}
            - {{progressDetail.progressDateEnd |date: "dd-MM-yyyy"}}</span>
          <span><ng-container *ngIf="progressDetail.progressDetailPercent === 100"><span
            class="badge bg-success">Hoàn thành</span></ng-container><ng-container
            *ngIf="progressDetail.progressDetailPercent === 0"><span
            class="badge bg-danger">Chưa mở</span></ng-container>
          <ng-container
            *ngIf="progressDetail.progressDetailPercent > 0 && progressDetail.progressDetailPercent < 100 "><span
            class="badge bg-dark">Đang thực hiện</span></ng-container></span>

          <div class="progress" role="progressbar">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                 role="progressbar"
                 *ngIf="progressDetail.progressDetailPercent > 0 && progressDetail.progressDetailPercent<100"
                 [style]="{width: progressDetail.progressDetailPercent+ '%'}"
                 [attr.aria-valuenow]=" progressDetail.progressDetailPercent" aria-valuemin="0" aria-valuemax="100">
              {{progressDetail.progressDetailPercent}}
            </div>
            <div *ngIf="progressDetail.progressDetailPercent === 100"
                 class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                 role="progressbar"
                 [style]="{width: progressDetail.progressDetailPercent+ '%'}"
                 [attr.aria-valuenow]=" progressDetail.progressDetailPercent" aria-valuemin="0" aria-valuemax="100">
              {{progressDetail.progressDetailPercent}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <!--  <div class="row mt-3">-->
  <!--    <div class="col-md-2">-->
  <!--    </div>-->
  <!--    <div class="col-md-10">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-2">-->
  <!--          <button type="button" style="background: #14a2b8;" class="btn"><span-->
  <!--            style="color: white">Báo cáo giai đoạn 2</span></button>-->
  <!--        </div>-->
  <!--        <div class="col-md-8">-->
  <!--          <span>Giai đoạn 2: 2021-04-07 - 2021-04-14</span><span class="badge bg-success">Đang làm</span>-->
  <!--          <div class="progress" role="progressbar">-->
  <!--            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"-->
  <!--                 role="progressbar"-->
  <!--                 style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->
  <!--              25%-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-md-2">-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mt-3">-->
  <!--    <div class="col-md-2">-->
  <!--    </div>-->
  <!--    <div class="col-md-10">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-2">-->
  <!--          <button type="button" style="background: #14a2b8;" class="btn"><span-->
  <!--            style="color: white">Báo cáo giai đoạn 3</span></button>-->
  <!--        </div>-->
  <!--        <div class="col-md-8">-->
  <!--          <span>Giai đoạn 3: 2021-03-31 - 2021-04-07</span><span class="badge bg-dark">Chưa mở</span>-->
  <!--          <div class="progress" role="progressbar">-->
  <!--            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"-->
  <!--                 role="progressbar"-->
  <!--                 style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->

  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-md-2">-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row mt-3">-->
  <!--    <div class="col-md-2">-->
  <!--    </div>-->
  <!--    <div class="col-md-10">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-2">-->
  <!--          <button type="button" style="background: #14a2b8;" class="btn"><span-->
  <!--            style="color: white">Báo cáo giai đoạn 4</span></button>-->
  <!--        </div>-->
  <!--        <div class="col-md-8">-->
  <!--          <span>Giai đoạn 4: 2021-04-21 - 2021-04-28</span><span class="badge bg-dark">Chưa mở</span>-->
  <!--          <div class="progress" role="progressbar">-->
  <!--            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"-->
  <!--                 role="progressbar"-->
  <!--                 style="width:0% " aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">-->

  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-md-2">-->
  <!--    </div>-->
  <!--  </div>-->
  <div>
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-10">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                    type="button"
                    role="tab" aria-controls="home" aria-selected="true">Đánh giá của giáo viên
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                    type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Báo cáo của sinh viên
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages"
                    type="button"
                    role="tab" aria-controls="messages" aria-selected="false">Thắc mắc của sinh viên
            </button>
          </li>
        </ul>


      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content row mt-4">
      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="d-flex justify-content-center ">
          <div class="w-50 border border-2 border-info p-3 rounded">

            <h5 class="text-center"><i>Đánh giá tiến độ của sinh viên</i></h5>
            <div class="row mt-4">
              <div class="col-md-2">
                <div class="d-flex justify-content-start mb-2 align-items-center "
                     [hidden]="projectDto?.projectStatus === false">
                  <img style="width: 50px; " class="rounded-circle"
                       src="{{teacherDto?.teacherImg}}" [hidden]="projectDto?.projectStatus === false">
                </div>
              </div>
              <div class="col-md-10">
                <form *ngIf="progressReviewForm" [formGroup]="progressReviewForm" (ngSubmit)="onSubmit()"
                      [hidden]="projectDto?.projectStatus === false">
                  <input type="text" formControlName="progressReviewId" hidden>
                  <div class="mb-3">
                    <label class="col-form-label">(*)Tiêu đề:</label>
                    <input type="text" formControlName="progressReviewTitle">
                    <p class="text-danger"
                       *ngIf="progressReviewForm.controls.progressReviewTitle.touched && progressReviewForm.controls.progressReviewTitle?.errors?.required">
                      Bận không được bỏ trống ô này</p>
                    <p class="text-danger"
                       *ngIf="progressReviewForm.controls.progressReviewTitle.dirty && progressReviewForm.controls.progressReviewTitle?.errors?.minLength">
                      Bận phài nhập trên 5 kí tự</p>
                    <p class="text-danger"
                       *ngIf="progressReviewForm.controls.progressReviewTitle.dirty && progressReviewForm.controls.progressReviewTitle?.errors?.maxLength">
                      Bận phài nhập dưới 100 kí tự</p>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Nội dung: </label><textarea ckeditor
                                                                                         formControlName="progressReviewContent"
                                                                                         class="form-control"
                                                                                         id="exampleFormControlTextarea1"
                                                                                         rows="3"></textarea>
                    <p class="text-danger"
                       *ngIf="progressReviewForm.controls.progressReviewContent.touched && progressReviewForm.controls.progressReviewContent?.errors?.required">
                      Bận không được bỏ trống ô này</p>
                    <p class="text-danger"
                       *ngIf="progressReviewForm.controls.progressReviewContent.dirty && progressReviewForm.controls.progressReviewContent?.errors?.minLength">
                      Bận phài nhập trên 5 kí tự</p>
                    <p class="text-danger"
                       *ngIf="progressReviewForm.controls.progressReviewContent.dirty && progressReviewForm.controls.progressReviewContent?.errors?.maxLength">
                      Bận phài nhập dưới 100 kí tự</p>

                  </div>
                  <div class="row">
            <span>Đánh giá tiến độ: <div class="form-check-inline">
  <input class="form-check-input" type="radio" name="progressReviewPercent" formControlName="progressReviewPercent"
         id="exampleRadios1" [value]=25 checked>
                      <p class="text-danger"
                         *ngIf="progressReviewForm.controls.progressReviewPercent.touched && progressReviewForm.controls.progressReviewPercent?.errors?.required">Bận không được bỏ trống ô này</p>
  <label class="form-check-label" for="exampleRadios1">
    25%
  </label>
</div>
<div class="form-check-inline">
  <input class="form-check-input" type="radio" name="progressReviewPercent" formControlName="progressReviewPercent"
         id="exampleRadios2" [value]=50>
                      <p class="text-danger"
                         *ngIf="progressReviewForm.controls.progressReviewPercent.touched && progressReviewForm.controls.progressReviewPercent?.errors?.required">Bận không được bỏ trống ô này</p>
  <label class="form-check-label" for="exampleRadios2">
    50%
  </label>
</div><div class="form-check-inline">
  <input class="form-check-input" type="radio" name="progressReviewPercent" formControlName="progressReviewPercent"
         id="exampleRadios3" [value]=75>
                <p class="text-danger"
                   *ngIf="progressReviewForm.controls.progressReviewPercent.touched && progressReviewForm.controls.progressReviewPercent?.errors?.required">Bận không được bỏ trống ô này</p>
  <label class="form-check-label" for="exampleRadios2">
    75%
  </label>
</div><div class="form-check-inline">
  <input class="form-check-input" type="radio" name="progressReviewPercent" formControlName="progressReviewPercent"
         id="exampleRadios4" [value]=100>
                <p class="text-danger"
                   *ngIf="progressReviewForm.controls.progressReviewPercent.touched && progressReviewForm.controls.progressReviewPercent?.errors?.required">Bận không được bỏ trống ô này</p>
  <label class="form-check-label" for="exampleRadios2">
    100%
  </label>
</div>
            </span>
                  </div>
                  <div style="text-align: right">
                    <button class="btn btn-outline-info" type="submit"
                            [disabled]="progressReviewForm.invalid || projectDto?.projectStatus === false">Đánh
                      giá
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mt-4" *ngFor="let progressReview of progressReviewsRecords">
              <div class="col-md-2">
                <div class="d-flex justify-content-start mb-2 align-items-center">
                  <img style="width: 50px; " class="rounded-circle"
                       src="{{progressReview.teacher?.teacherImg}}">
                </div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <span><b>{{progressReview?.teacher?.teacherName}}</b></span>
                </div>
                <span class="badge bg-success">{{progressReview?.progressReviewTitle}}</span>
                <div class="row">
                  <div class="col md-9">
                    <p>{{progressReview?.progressReviewContent}}</p>
                  </div>
                  <div class="col-md-3">
                    <span style="text-align: left">{{progressReview?.progressReviewDateCreate}}</span>
                  </div>
                </div>
              </div>
            </div>
            <!--            <div class="row mt-4">-->
            <!--              <div class="col-md-2">-->
            <!--                <div class="d-flex justify-content-start mb-2 align-items-center">-->
            <!--                  <img style="width: 50px; " class="rounded-circle"-->
            <!--                       src="">-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              </div>-->
            <!--              <div class="col-md-10">-->
            <!--                <div class="row">-->
            <!--                  <span><b>Trần Thị Ngọc Lan</b></span>-->
            <!--                </div>-->
            <!--                <span class="badge bg-success">Tiến độ 2</span>-->
            <!--                <p>Chưa làm được chức năng bán bom</p>-->
            <hr>
            <div class="row">
              <div class="col-md-4" style="text-align: right;">
                <a *ngIf="checkShowMore" (click)="showMore()" style="color: #0a58ca">Xem thêm...</a>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4"><a *ngIf="checkHideMore" (click)="hideMore()" style="color: #0a58ca">Ẩn đánh giá</a>
              </div>
            </div>
            <!--              </div>-->
          </div>
        </div>
      </div>
      <!--     -------------------------------------- Task của a Sỹ------------------------>
      <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="d-flex justify-content-center ">
          <div class="w-50 border border-2 border-info p-3 rounded">
            <h5 class="text-center">Báo cáo tiến độ của sinh viên</h5>
            <div class="row">
              <div>
                <div class="card" *ngFor="let studentProgressReport of studentProgressReports">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2" style="margin-left: 0">
                        <div class="d-flex justify-content-start mb-2 align-items-center">
                          <img style="width: 50px; height: 50px; text-align: right; "
                               class="rounded-circle"
                               [src]="studentProgressReport.studentImg"
                               alt="">
                        </div>
                      </div>
                      <div class="col-md-10">
                        <div class="row">
                          <span><b>{{studentProgressReport.studentName}}</b></span>
                        </div>
                        <p class="badge bg-info">{{studentProgressReport.stageName}}</p>
                        <p>{{studentProgressReport.progressReportContent}}</p>
                        <p>
                          <span>File báo cáo : </span><strong><span>{{studentProgressReport.progressReportFileName}}</span></strong>
                          <span>
                    <input hidden type="text" [(ngModel)]="studentProgressReport.progressReportFile">
                      <a [href]="studentProgressReport.progressReportFile" download="" target="_blank"><span>&nbsp;&nbsp;&nbsp;</span><img
                        class="mx-auto" width="30px"
                        height="30px"
                        src="../../../../assets/img/progress_report_icon_img/file_download_icon.png"
                        alt=""></a></span>
                        </p>
                        <div class="row">
                          <div class="col-md-7">
                          </div>
                          <div class="col-md-5">
                            <p style="font-size: 12px">{{studentProgressReport.progressReportTime}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" style="margin-top: 3%">
                  <div class="col-md-3"></div>
                  <div class="col-md-3"> <span> <a style="text-align: left; color: #0a58ca" role="button"
                                                   (click)="loadMore()"
                                                   *ngIf="flagSyVT">Xem thêm...</a></span>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-3">
              <span *ngIf="totalElement > 1"> <a style="text-align: center; color: #0a58ca" role="button"
                                                 (click)="hiddenLess()">Ẩn báo cáo...</a></span>
                  </div>
                  <div class="col-md-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        <!-- ------------------------------------       Task của Lan---------------------------------->
        <!--        <div class="d-flex justify-content-center">-->
        <!--          <div class="w-50 border border-2 border-info p-3 rounded">-->
        <!--            <h5 class="text-center">Thắc mắc của sinh viên</h5>-->
        <!--            <div class="row">-->
        <!--              <div class="card">-->
        <!--                <div class="card-body">-->
        <!--                  <form>-->
        <!--                    <div class="row">-->
        <!--                      <div class="col-md-2">-->
        <!--                        <div class="d-flex justify-content-start mb-2 align-items-center">-->
        <!--                          <img style="width: 50px; " class="rounded-circle"-->
        <!--                               src="https://trello-members.s3.amazonaws.com/6419258324eb7de7ddbc2717/171c559d6c162cdfbb5ac71cc6826acb/original.png">-->
        <!--                        </div>-->
        <!--                      </div>-->
        <!--                      <div class="col-md-10">-->
        <!--                        <div class="row">-->
        <!--                          <span><b>Trần Thị Ngọc Lan</b></span>-->
        <!--                        </div>-->
        <!--                        <span class="badge bg-success">Kiểm tra thư và thông báo</span>-->
        <!--                        <p>Giải đáp thắc mắc</p>-->
        <!--                        <div class="row">-->
        <!--                          <div class="col-md-9">-->
        <!--                            <button class="btn btn-outline-info" id="myButton" type="button">Trả lời-->
        <!--                            </button>-->
        <!--                          </div>-->
        <!--                          <div class="col-md-3" id="date">-->
        <!--                            <span style="font-size: 12px">15:32:27 23/03/2023</span>-->
        <!--                          </div>-->
        <!--                        </div>-->

        <!--                      </div>-->
        <!--                    </div>-->
        <!--                  </form>-->
        <!--                </div>-->
        <!--                <form id="myForm" style="display: none">-->
        <!--                  <div class="row">-->
        <!--                          <textarea class="form-control ms-2 editor" rows="4"-->
        <!--                                    placeholder="Nhập trả lời của bạn ở đây..."></textarea>-->
        <!--                  </div>-->
        <!--                  <div style="text-align: right" class="mt-2 px-3 ">-->
        <!--                    <button class="submit-reply btn btn-outline-info" type="submit">Đăng</button>-->
        <!--                  </div>-->
        <!--                </form>-->
        <!--                <div class="row">-->
        <!--                  <div class="col-md-3">-->
        <!--                    <span> <a style="text-align: left " href="">Xem thêm</a></span>-->
        <!--                  </div>-->
        <!--                  <div class="col-md-6"></div>-->
        <!--                  <div class="col-md-3">-->
        <!--                    <span> <a style="text-align: right " href="">Ẩn đánh giá</a></span>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->

        <!--            <div class="row">-->
        <!--              <div class="card">-->
        <!--                <div class="card-body">-->
        <!--                  <form>-->
        <!--                    <div class="row">-->
        <!--                      <div class="col-md-2">-->
        <!--                        <div class="d-flex justify-content-start mb-2">-->
        <!--                          <img style="width: 50px; " class="rounded-circle"-->
        <!--                               src="https://trello-members.s3.amazonaws.com/6419258324eb7de7ddbc2717/171c559d6c162cdfbb5ac71cc6826acb/original.png">-->
        <!--                        </div>-->
        <!--                      </div>-->
        <!--                      <div class="col-md-10">-->
        <!--                                <textarea class="form-control ms-2 editor" rows="4"-->
        <!--                                          placeholder="Nhập thắc mắc của bạn ở đây..."></textarea>-->
        <!--                      </div>-->
        <!--                    </div>-->
        <!--                    <div class="mt-2" style="text-align: right">-->
        <!--                      <button class="btn btn-outline-info" type="submit">Đăng</button>-->
        <!--                    </div>-->
        <!--                  </form>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
